* {
    box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

#chatWrapper {
    position: fixed;
    bottom: 2em;
    right: 2em;
    width: 20em;
    height: 30em;
}

#chatToggle {
    position: relative;
    top: 1em;
    right: 2em;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
    cursor: pointer;
}

#chatMsgWrapper {
    position: absolute;
    bottom: 1em;
    height: 100%;
    right: 0;
    width: 100%;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, .1);
}

#chatMsgBtm {
    padding: 1em;
    position: absolute;
    bottom: 1em;
    width: 100%;
}

#chatMsgForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.5em;
    padding: 1em;
}

#chatMsgInput {
    width: 80%;
    background: transparent;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: none;
}

#chatMsgSubmit {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}