.header {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
    width: 75%;
}

.title {
    width: 80%
}

.journal{
	padding: 5%;
    padding-top: 10%
}

.submit-button{
	padding-left: 5%;
}