*{
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.title {
    width: 75%
}

#journalContain {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.journal{
	padding: 5%;
  padding-top: 10%
}

#journalButtons{
	padding-left: 5%;
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.journalBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.journalBtn:hover,
.journalBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.journalBtn:hover {
  transform: translateY(-1px);
}

.journalBtn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

#responses {
  max-width: 25%;
  min-width: 25%;
  min-height: 45em;
  max-height: 45em;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}




.entryText {
  max-height:400px;
  min-height:400px;
  max-width:650px;
  min-width:650px;
  margin: 0;
  padding: 1em;
  letter-spacing: 0.25px;
  border-radius: 0;
  padding: 5px;
  box-sizing: border-box;
  scrollbar-width: 1em;
}

#highlights {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  color: transparent;
}

#text {
  border-style: none;
  border-color: transparent;
  resize: none;
  background-color: transparent;
  display: block;
  position: absolute;
  z-index: 2;
  margin: 0;
  border-radius: 0;
}


.highlighted {
  /* color: transparent; */
  padding: 0;
  border-radius: 3;
  background-color: #BEE9E8;
}

#responses {
  max-width: 300px;
  min-width: 300px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.response {
  background-color: #BEE9E8;
  padding: 1em;
  border-radius: 10px; 
  transition: opacity 1s;
}


#sendDataBtn {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 5em;
  min-width: 5em;
  position: fixed;
  bottom: 3em;
  left: 5em;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

#sendDataBtn:hover,
#sendDataBtn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#sendDataBtn:hover {
  transform: translateY(-1px);
}

#sendDataBtn:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}