#title {
  padding: 1em;
}

#entry_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2em;
}

.card {
    width: 30em;
    max-height: 20em;
    min-height: 20em;
    padding: 2em;
    overflow-y: scroll;
    transition: box-shadow 0.3s ease-in-out;
    position: relative;
}

.card:hover { 
    cursor: pointer;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}

.card::-webkit-scrollbar {
    width: 0.5em;
}

.card::-webkit-scrollbar-track {
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
    background: rgb(240, 240, 240); 
    border-radius: 10px;
}

.card::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4; 
}

.fa-trash-can {
  position: absolute;
  top: 3em;
  right: 2em;
  color: #1B4965
}

#createJournal {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10%;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 5em;
  min-width: 5em;
  position: fixed;
  bottom: 4em;
  left: 6em;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  z-index: 1;
}

#createJournal:hover,
#createJournal:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

#createJournal:hover {
  transform: translateY(-1px);
}

#createJournal:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}