#profile {
    display: flex;
    flex-direction: row;
    margin: 7em 5em 0em 5em;
    gap: 3em;
}

#charts {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.chart {
    border: solid lightgrey 1px;
    box-shadow: .5rem .5rem 2rem rgba(100, 100, 100, 0.035);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1em;
    width: 450px;
    padding: 2em;
}

.chart:hover {
    box-shadow: .5rem .5rem 2rem rgba(100, 100, 100, 0.15);
}

#activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    border: solid lightgrey 1px;
    box-shadow: .5rem .5rem 2rem rgba(100, 100, 100, 0.035);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 1em;
    width: 550px;
    padding: 3em;
}

#activities:hover {
    box-shadow: .5rem .5rem 2rem rgba(100, 100, 100, 0.15);
}