#journalBtn {
	margin: 0px 0px 50px 0px
}

#formContainer {
	width:50%;
	height: 100%;
}

#signupForm {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
}


#submitBtn {
	align-self: center;
}

input[type='email'],
[type='text'],
[type='password']{
	width: 50%;
	padding: 1em;
}