<div id="chatWrapper">
    <div id="chatToggle">
        <i class="fa-solid fa-bars"></i>
    </div>
    <div id="chatMsgWrapper">
        <div id="chatMsgHeader"></div>
        <div id="chatMsgContent">
            <!-- <h4 class="chatMsgNoMsg">You don't have message yet!</h4> -->
        </div>
        <div id="chatMsgBtm">
            <form action="#" id="chatMsgForm">
                <textarea id="chatMsgInput" rows="1" placeholder="Type message..."></textarea>
                <button type="submit" id="chatMsgSubmit">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </form>
        </div>
    </div>
</div>

<!-- https://codepen.io/fajarnurwahid/pen/XWzPQZe -->
<!-- https://www.youtube.com/watch?v=Bv8FORu-ACA -->