<div id="chatbox">
    <ul id="chat">
    </ul>
    <div id="chatInput">
        <textarea placeholder="Enter a message..." required></textarea>
        <span><i class="fa-solid fa-paper-plane"></i></span>
    </div>
</div>

<!-- https://codepen.io/fajarnurwahid/pen/XWzPQZe -->
<!-- https://www.youtube.com/watch?v=Bv8FORu-ACA -->