<!DOCTYPE html>
<form action="/submitJournal" method="post">
	<div class="journal container-md">
		<label for="entry" class="form-label row">
			<input class="col form-control" name="title" placeholder="title">
			<script class="col">document.write(new Date().toDateString());</script>
		</label>
		<textarea class="form-control row" name="entry" id="entry" rows="5" placeholder="type here"></textarea>
	</div>
	
	<div class="submit-button">
		<button type="submit" class="btn btn-outline-secondary btn-sm">submit</button>
	</div> 
</form>