<div id="musicContain">
<div id="player">
    <div id="icons">
        <i class="fa-solid fa-music"></i>
        <button class="musicBtn" id="toggle" onclick="toggle()">
            <i class="fa-solid fa-angle-up"></i>
        </button>
        <!-- <i class="fa-solid fa-angle-down"></i> -->
    </div>
    <div id="details">
        <div><p id="songName">song name</p></div>
        <div><p id="songArtist">song artist</p></div>	
    </div>
    <div id="info">		
        <div id="duration" class="duration">00:00</div>
            <input type="range" id="slider" value="0" min="1" max="100" onchange="seek()">
        <div id="totalDuration" class="duration">00:00</div>
    </div>
    <div id="buttons">
        <div id="prev">
            <button class="musicBtn" onclick="prevSong()">
                <i class="fa-solid fa-backward-step"></i>
            </button>
        </div>
        <div id="play">
            <button class="musicBtn" id="playpause" onclick="playpause()">
                <i class="fa-solid fa-play"></i>
            </button>
        </div>
        <div id="next">
            <button class="musicBtn" onclick="nextSong()">
                <i class="fa-solid fa-forward-step"></i>
            </button>
        </div>
    </div>
</div>
</div>