<nav class="navbar bg-body-tetiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Offcanvas navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <i class="fa-solid fa-bars"></i>
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <% if (loggedIn) { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/createJournal">Create Entry</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/signup">Sign Up</a>
                            <a class="nav-link active" aria-current="page" href="/login">Login</a>
                        </li>
                    <% } %>
                </ul>
            </div>	
        </div>
    </div>
</nav>